.about-page {
    margin-top: 190px;
    margin-bottom: 100px;
    min-height: 100vh;
}

/* Header Section */
.header-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.about-page h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
}

.header-section p {
    font-size: 1.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header-section .image-container {
    height: 250px;
    width: 250px;
    overflow: hidden;
    border: 5px solid rgba(128, 0, 128, 0.7);
    border-radius: 50%;
    box-shadow: 0 0 20px 10px rgba(128, 0, 128, 0.6);
}

/* Skill Section */
.icon-div {
    text-align: center;
    margin-bottom: 35px;
}

.icon-div:hover {
    transform: scale(1.06);
    transition: all 0.5s ease-in-out 0s;
}

.educatin-content:hover {
    transform: scale(1.02);
    transition: all 0.7s ease-in-out 0s;   
}

.skills .icon {
    height: 60px;
    width: 60px;
}

.about-section, .skill-section, .education-section {
    margin-bottom: 80px;
}

/* Media queries */

@media (max-width: 767px) {
    .about-page {
        margin-top: 180px;
    }

    .header-section p {
        font-size: 1.5rem;
    }

    .header-section {
        align-items: center;
        margin-bottom: 50px;
    }
}