/* Navbar Design */
nav {
    width: min(90%, 1000px);
    margin: 20px auto;
    background-color: hsla(0, 0%, 97%, 0.75);
    backdrop-filter: blur(6px);
    padding: 20px 25px !important;
    border-radius: 10px;
}

.navbar .navbar-brand {
    font-size: clamp(1rem, 1.5vw, 1.25rem);
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    text-decoration: underline;
}

.navbar .active {
    text-decoration: underline;
}

/* Media Queries */
@media (max-width: 767px) {
    nav {
        padding: 14px 15px !important;
    }
}