/* Navbar Design */
nav {
    width: 75%;
    margin: 20px auto;
    background-color: hsla(0, 0%, 92%, 0.4);
    backdrop-filter: blur(5px);
    padding: 20px 25px !important;
    border-radius: 10px;
}

nav a {
    text-decoration: none;
    color: black;
}

nav ul li:hover {
    text-decoration: underline;
}


/* Media Queries */
@media (max-width: 767px) {
    nav {
        width: 90%;
        padding: 14px 15px !important;
    }
}