.contact-page {
    min-height: 100vh;
    margin-top: 190px;
    margin-bottom: 100px;
}

/* Hero Section */
.contact-hero {
    margin-bottom: 80px;
}

.contact-hero h1 {
    font-size: clamp(1.9rem, 5vw, 3rem);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Card Grid Section */
.contact-cards {
    display: flex;
    gap: 50px;
}

.contact-cards .card {
    border-radius: 20px;
}

.contact-cards .card-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* Social Links Card */
.card-section .social-link-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.social-link-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Location Card */
.location-card .card {
    display: flex;
    flex-direction: row;
    align-items: center;
}


/* Meadia Queries */

@media (max-width: 767px) {
    .contact-cards {
        flex-direction: column;
    }

    .contact-hero {
        margin-bottom: 40px;
    }

    .contact-hero .contact-subtext {
        margin: 0;
    }

    .card-section .social-link-cards {
        gap: 15px;
    }
}