.contact-page {
    min-height: 100vh;
    margin-top: 190px;
    margin-bottom: 100px;
}

/* Hero Section */
.contact-hero {
    margin-bottom: 80px;
}

.contact-hero h1 {
    font-size: clamp(1.9rem, 5vw, 3rem);
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Card Grid Section */
.card-title {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.card-title p{
    font-weight: 550;
    font-size: 1rem;
}

.card-title h3 {
    font-weight: 550;
    font-size: 1.4rem;
}

.card-subtitle p {
    font-size: 1.15rem;
}

.contact-cards {
    display: flex;
    gap: 50px;
}

.contact-cards .card {
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.08);
}

.contact-cards .card-section {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.send-email:hover {
    text-decoration: underline;
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

.email-text {
    margin: 0;
    margin-left: 13px;
}

/* Social Links Card */
.card-section .social-link-cards {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.social-link-cards .card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* Location Card */
.location-card .card {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sub-text p{
    font-size: 1rem;
    margin: 0;
}

 .card-body .social-link {
    font-size: 0.8rem;
 } 

.sub-text .location-time-text {
    font-size: 0.9rem;
}


/* Meadia Queries */

@media (max-width: 767px) {
    .contact-cards {
        flex-direction: column;
    }

    .contact-hero {
        margin-bottom: 40px;
    }

    .contact-hero .contact-subtext {
        margin: 0;
    }

    .card-section .social-link-cards {
        gap: 15px;
    }
}