/* Home Page Design */
.home-page {
    margin-top: 200px;
}

section h1 {
    font-size: 4rem;
}

section h2 {
    font-size: 2.5rem;
}


/* Media Queries */
@media (max-width: 767px) {
    section h1 {
        font-size: 2.25rem;
    }
    section h2 {
        font-size: 1.5rem;
    }
}