/* Home Page Design */
.home-page {
    margin-top: 200px;
    margin-bottom: 100px;
}
.hero-section {
    min-height: 65vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Header section */
section h1 {
    font-size: 4rem;
}
section h2 {
    font-size: 2.5rem;
}

/* Project section */
.projects-section h2 {
    font-size: 2.8rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.projects-section h3 {
    font-size: 2rem;
}

.project .project-content {
    margin: 0;
    display: flex;
    flex: 1;
}

.project-content .project-info {
    padding: 0;
}

.image-container img {
    width: 100%;
    height: auto;
    display: block;
}

.buttons-section .btn {
    margin-bottom: 5px;
    margin-right: 0.9em;
}

.project:hover {
    transform: scale(1.02);
    transition: all 0.7s ease-in-out 0s;
}

/* Media Queries */
    /* Tablet */
@media (max-width: 991px) {
    .project-content {
        flex-direction: column;
    }

    .reverse {
        flex-direction: column-reverse;
    }
}

    /* Mobile */
@media (max-width: 767px) {
    .home-page {
        margin-top: 180px;
        margin-bottom: 80px;
    }
    .hero-section {
        min-height: 45vh;
    }

    /* Header Section */
    section h1 {
        font-size: 2.25rem;
    }
    section h2 {
        font-size: 1.5rem;
    }

    /* Project Section */
    .projects-section h2 {
        font-size: 1.9rem;
    }

    .projects-section h3 {
        font-size: 1.5rem;
    }

    .project-content .project-description {
        text-align: justify;
        margin-top: 15px;
    }

    .buttons-section {
        display: block;
    }

    .buttons-section .btn {
        margin-right: 5px;
    }
}