@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Outfit:wght@100..900&display=swap');

*{
    padding: 0;
    margin: 0;
}

html body {
    font-family: Outfit;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.app-container {
  width: 75%;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 767px) {
    .app-container {
        width: 100%;
    }
}